  @import url('https://fonts.googleapis.com/css?family=Karla');

      body, h1, h2, h3, h4, p, strong {
        font-family: 'Karla', sans-serif !important;
      }

      a {
        text-decoration: none;
        color: white !important;
      }

      .bot-avatar {
        border: 5px solid white !important;
        box-shadow: 0 5px 24px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.22) !important;
      }

      .guild-name {
        display: inline-block;
        margin-left: 15px;
        vertical-align: bottom;
        cursor: pointer;
      }

      .pre-text {
        font-size: 15px;
      }

      .guild-container{
        top: 72px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      .guild-container .serv-container {
        width: 70%;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -o-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      .guild-icon {
        margin-bottom: 15px;
        margin-left: 15px;
        border-radius: 50%;
        border: 2px solid #ddd;
        vertical-align: middle;
        transition: border-radius .5s cubic-bezier(0.15, 0.82, 0.85, 1.07);
        display: inline-block;
        text-decoration: none;
        border: 2px solid white !important;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.22) !important;
      }
      
      .guild-container{
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
      }

      .guild-icon:hover {
        border-radius: 15px;
      }

      .serv-container {
        padding: 15px;
        display: flex;
        justify-content: center;
      } 

      .list-serv {
        display: block;
        list-style-type: disc;
        padding: 0px;
        list-style: none;
        opacity: .9;
      }

      canvas {
        background-color: #2a2d32
      }

      canvas:hover {
        background-color: #7289da;
      }

      .contenant {
        font-family: 'Karla',sans-serif;
        font-size: 16px;
        position: relative;
        display: block;
        background-color: #35383c;
        border: 1px solid #2a2d32;
        text-decoration: none;
        background-color: #363636 !important;
        margin: 15px;
        opacity: .9;
        padding: 0.3em;
        border-radius: 3px; 
      }

      .contenant:hover {
        background-color: #fff !important;
        border-color: #363636 !important;
        color: #363636 !important;
      }

      .btn {
        background-color: transparent !important;
        border-color: white !important;
        color: white !important;
        font-size: 1.25rem !important;
      }

      .btn:hover, .btn:active, .btn:focus {
        background-color: white !important;
        color: #363636 !important;
        box-shadow: none;
        border-color: white !important
      }

      .alert {
        border: 1px solid #fff;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
        border-radius: 3px;
        margin: 12px 0;
        padding: 12px;
      }

      .success {
        background-color: rgba(67,181,129,.3);
        border-color: #43b581;
      }
      
      .error {
        background-color: rgba(240,71,71,.3);
        border-color: #f04747;
      }
      .loginHB {
        margin-left: 10px
      }