<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head.ejs') %>
</head>
<body>
  <%- include('blocks/navbar.ejs', {status, login}) %>
  <%- include('blocks/footer.ejs', {status, login}) %>
</body>
</html>